.hero-section {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0000;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden; /* Esto evita que la animación se desborde */
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    z-index: 1; 
}

.hero-info {
    max-width: 800px;
}

.hero-info h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    text-align: left;
}

.hero-info p {
    font-size: 1.2rem;
    margin: 0;
    max-width: 600px;
    font-weight: 500;
    text-align: justify;
}

.hero-content .perfil-imagen {
    border-radius: 50%;
    border: 20px solid transparent;
    width: 300px;
    height: auto;
    object-fit: fixed;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

/* Animación de onda mejorada */
.wave,
.wave::before,
.wave::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%; /* Reducido de 250vw para que quepa mejor */
    height: 150%;
    margin-left: -75%; /* Ajustado para centrar */
    margin-top: -75%;
    transform-origin: 50% 50%;
    background-color: transparent;
    border-radius: 38% 42%;
    box-shadow: inset 0 0 10vw rgba(255, 0, 255, 0.8); /* Reducida la intensidad */
    animation: spin 10s infinite linear;
    mix-blend-mode: multiply;
    z-index: 1;
}

.wave::before {
    width: 105%;
    height: 95%;
    margin-left: -52.5%;
    margin-top: -47.5%;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    box-shadow: inset 0 0 10vw rgba(255, 255, 0, 0.8);
    animation: spin 7s infinite linear;
}

.wave::after {
    width: 102%;
    height: 98%;
    margin-left: -51%;
    margin-top: -49%;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    box-shadow: inset 0 0 10vw rgba(0, 255, 255, 0.8);
    animation: spin 5s infinite linear;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.contact-links-list-hero{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem; /* Reducido de 2rem */
    color: #4a5568;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    z-index: 2;
}