@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Space_Mono, monospace;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
}

.contact-links-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Reducido de 2rem */
}

/* Cada enlace */
.contact-link-item {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Reducido de 2rem */
  color: #4a5568;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}